<!--机台利用率 -->
<div class="whole-area">

  <nz-select class="select-row-index" [(ngModel)]="selectedRowIndex" name="selectedRowIndex" nzPlaceHolder="选择机台组别"
    nzAllowClear (ngModelChange)="updateBarDatasource(selectedRowIndex)">
    <nz-option *ngFor="let item of rowIndexArray" [nzLabel]="item.rowName" [nzValue]="item.rowNum">
    </nz-option>
  </nz-select>
  <div nz-row>
    <div class="row-one" nz-col nzSpan="12" echarts [options]="pieDataSource"></div>
    <div class="row-one" nz-col nzSpan="12" echarts [options]="barDataSource">
    </div>
  </div>
  <div nz-row class="alert-form" nzType="flex" nzAlign="middle">
    <div nz-col nzSpan="24">
      <form nz-form [formGroup]="machineOeeQueryForm" nzLayout="inline" (ngSubmit)="submitQueryForm($event)">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker nzspan formControlName="StartDate" nzPlaceHolder="选择开始日期" nzShowTime></nz-date-picker>
            <nz-form-explain *ngIf="machineOeeQueryForm.get('StartDate').dirty&&machineOeeQueryForm.get('StartDate').errors">请选择开始日期</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="EndDate" nzPlaceHolder="选择结束日期" nzShowTime></nz-date-picker>
            <nz-form-explain *ngIf="machineOeeQueryForm.get('EndDate').dirty&&machineOeeQueryForm.get('EndDate').errors">请选择结束日期</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button style="margin-right:8px;" nz-button nzType="primary" [disabled]="!machineOeeQueryForm.valid"><i
                nz-icon type="search" theme="outline"></i>查询</button>
            <button nz-button nzType="danger" (click)="resetQueryForm($event)"><i nz-icon type="reload" theme="outline"></i>清除</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div nz-row>
    <nz-table #nzTable [nzData]="machineOeeDataSet" [nzPageSize]="10" [nzScroll]="{y:'25vh'}" [nzBordered]=true
      [nzLoading]="machineOeeDataLoading" nzSize="small" [nzFrontPagination]=false [nzShowPagination]=false>
      <thead>
        <tr>
          <!-- <th>设备编号</th> -->
          <th nzWidth=100px>设备名称</th>
          <th nzWidth=100px>运行时间/分钟</th>
          <th nzWidth=100px>待机时间/分钟</th>
          <th nzWidth=100px>停机时间/分钟</th>
          <th nzWidth=100px>报警时间/分钟</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nzTable.data">
          <!-- <td>{{item.MachineId}}</td> -->
          <td>{{item.Name}}</td>
          <td>{{item.RunTime}}</td>
          <td>{{item.StandbyTime}}</td>
          <td>{{item.PowerOffTime}}</td>
          <td>{{item.AlertTime}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
