.whole-area {
  height: calc(100vh - 104px);
  background-color: '#2c343c';
}

.row-one {
  height: 50%;
  width: 60%;
  margin-left: 20%;
}

.row-two {
  height: 50%;
}

.alert-form {
  background-color: gray;
  height: 40px;
}

.select-row-index {
  position: fixed;
  width: 100px;
  right: 280px;
  top: 80px;
  z-index: 999;
}


.graph-area {
  height: 100%;
}
