.whole-area {
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.query-info {
  flex: 0 0 2rem;
}

.display-information-area {
  flex: 1 1 auto;
}

.operate-button {
  margin-left: 2rem;
}
