<div class="whole-area">
  <!-- 搜索区域 -->
  <div class="query-info">
    <nz-alert nzType="info" [nzMessage]="alertTemplate">
      <ng-template #alertTemplate>
        <!-- 检验项查询表单 -->
        <form nz-form [formGroup]="moduleModelQueryForm" (ngSubmit)="submitQueryForm($event)" nzLayout="horizontal">
          <nz-form-item>
            <!-- <nz-form-label nzSpan="3">项目代码</nz-form-label> -->
            <nz-form-control nzSpan="3">
              <input nz-input formControlName="MouldId" placeholder="模具编号">
            </nz-form-control>
            <!-- <nz-form-label nzSpan="3">项目名称</nz-form-label> -->
            <nz-form-control nzSpan="3">
              <input nz-input formControlName="MouldName" placeholder="模具名称">
            </nz-form-control>
            <nz-form-control nzSpan="3">
              <input nz-input formControlName="MouldType" placeholder="模具类型">
            </nz-form-control>
            <nz-form-control nzSpan="15">
              <button class="operate-button" nzType="primary" type="submit" nz-button><i nz-icon type="search" theme="outline"></i>查询</button>
              <button class="operate-button" nzType="danger" (click)="resetQueryForm($event)" nz-button><i nz-icon type="redo"
                  theme="outline"></i>清除</button>
            </nz-form-control>

          </nz-form-item>
        </form>
      </ng-template>
    </nz-alert>
  </div>
  <!-- 信息展示区域 -->
  <div class='display-information-area'>
    <nz-table class="table-striped" #nzTable [nzData]="mouldModelDataSet" [nzBordered]="true" [nzShowPagination]="false"
      [nzTitle]="tableTitleTemplate" nzSize="small" [nzLoading]="mouldModelDataLoading" [nzFrontPagination]="false"
      [nzScroll]="{x:'1300px', y: '75vh' }">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzWidth="120px" nzLeft="0px">模具编号</th>
          <th nzWidth="200px">模具名称</th>
          <th nzWidth="160px" nzShowSort nzSortKey="MouldType">接单类型</th>
          <th nzWidth="120px" nzShowSort nzSortKey="PlanOverMachiningDate">计划完成时间</th>
          <th nzWidth="100px" nzShowSort nzSortKey="State">状态</th>
          <th nzWidth="100px" nzRight="0px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nzTable.data">

          <td nzLeft="0px">{{item.MouldId}}</td>
          <td>{{item.MouldName}}</td>
          <td>{{item.MouldType}}</td>
          <td>{{item.PlanOverMachiningDate|date:'yyyy-MM-dd'}}</td>
          <td>{{item.State}}</td>
          <td nzRight="0px">
            <!-- <button nzType="primary" nzSize="small" nz-button>获取清单</button> -->
            <a routerLink="../WorkpieceManagement" [queryParams]="{MouldId:item.MouldId,MouldName:item.MouldName,PlanOverMachiningDate:item.PlanOverMachiningDate,MouldType:item.MouldType,State:item.State}">获取程序清单</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #tableTitleTemplate>
      <nz-tag nzColor="red">当前数据总数：</nz-tag>
      {{mouldModelDataSet.length}}条
    </ng-template>
  </div>
</div>
