<!--设备终端看板 -->
<div class="whole-area">
  <div nz-row>
    <div nz-row class="alert-form" nzType="flex" nzAlign="middle">
      <!-- <nz-alert nzType="info" [nzMessage]="alertQueryTemplate">
      <ng-template #alertQueryTemplate> -->
      <div style="margin-left:8px;" nz-col nzSpan="24">
        <form nz-form [formGroup]="workpieceDataQueryForm" nzLayout="inline" (ngSubmit)="submitQueryForm($event)">
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker formControlName="StartDate" nzPlaceHolder="选择开始日期"></nz-date-picker>
              <nz-form-explain
                *ngIf="workpieceDataQueryForm.get('StartDate').dirty&&workpieceDataQueryForm.get('StartDate').errors">
                请选择开始日期
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-date-picker formControlName="EndDate" nzPlaceHolder="选择结束日期"></nz-date-picker>
              <nz-form-explain
                *ngIf="workpieceDataQueryForm.get('EndDate').dirty&&workpieceDataQueryForm.get('EndDate').errors">
                请选择结束日期
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button style="margin-right:8px;" nz-button nzType="primary" [disabled]="!workpieceDataQueryForm.valid"><i
                  nz-icon type="search" theme="outline"></i>查询</button>
              <button nz-button nzType="danger" (click)="resetQueryForm($event)"><i nz-icon type="reload"
                  theme="outline"></i>清除</button>

              <button style="margin-left:20px;" nz-button nzType="dashed" type="button"
                (click)="showDetailData()">查看数据</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <!-- </ng-template>
    </nz-alert> -->
    </div>

  </div>

  <div nz-row class="row-one">
    <div nz-col nzSpan="6">
      <div class="text-info-area">
        <div>
          <span>机台编号:</span>
        </div>
        <div>
          <span>模具编号:</span>
        </div>
        <div>
          <span>工件:</span>
        </div>
        <div>
          <span>操作人员:</span>
        </div>
        <div>
          <span>加工耗时:</span>
        </div>
      </div>

    </div>
    <div class="row-one" nz-col nzSpan="18" echarts [options]="pieDataSource"></div>
  </div>
</div>


<nz-drawer [nzVisible]="isShowDetailData" [nzHeight]="400" (nzOnClose)="closeDetailData()" nzPlacement="bottom"
  [nzClosable]="false">
  <div>
    <nz-table #nzTable [nzData]="workpieceDataset" nzSize="small" [nzBordered]="true" [nzShowPagination]=false
      [nzFrontPagination]=true>
      <thead>
        <tr>
          <th>机台编号</th>
          <th>模具编号</th>
          <th>模具名称</th>
          <th>工件编号</th>
          <th>工件名称</th>
          <th>工序代码</th>
          <th>计划时间</th>
          <th>实际时间</th>
          <th>计划耗时</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of nzTable.data">
          <td>{{i.MachineId}}</td>
          <td>{{i.MouldId}}</td>
          <td>{{i.MouldName}}</td>
          <td>{{i.WorkpieceId}}</td>
          <td>{{i.WorkpieceName}}</td>
          <td>{{i.MachiningProcessId}}</td>
          <td>{{i.PlanOverMachiningDate|date:'yyyy-MM-dd'}}</td>
          <td>{{i.OverMachiningDate|date:'yyyy-MM-dd'}}</td>
          <td>{{i.PlanMachingTime}}</td>

          <td>{{i.State}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-drawer>
