.whole-area {
  height: calc(100vh - 104px);
  width: 100vw;
}

.alert-form {
  background-color: gray;
  height: 40px;
}

.row-one {
  height: 100%;
}

.text-info-area {
  margin-left: 80px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
