<div class="whole-area">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex">
    <nz-tab nzTitle="工件模型编辑">
      <nz-card class="card-area" [nzBodyStyle]="{'padding':'0.5rem'}">
        <div class="whole-content" class>
          <!-- 按钮操作区域 -->
          <div class="operate-area">
            <div>
              <form nz-form [formGroup]="workPieceForm" [nzLayout]="'inline'">
                <nz-form-item>
                  <nz-form-label nzFor="MouldId">模具编号</nz-form-label>
                  <nz-form-control>
                    <input nz-input autofocus formControlName="MouldId" id="MouldId" name="MouldId" placeholder="请输入模具编号">
                    <!-- <nz-form-explain *ngIf="workPieceForm.get('MouldId').dirty&&workPieceForm.get('MouldId').errors">
                    模具编号不能为空
                  </nz-form-explain> -->
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <button nzType="primary" (click)="submitWorkPieceForm($event)" nz-button><i nz-icon type="search"
                        theme="outline"></i>加载</button>
                    <!-- <button class="opearte-button-area" nzType="primary" (click)="OnImportProgramList()" nz-button>添加程序单</button> -->
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
          <!-- 简略信息展示区域 list -->
          <div class="division-border">
            <div class="simple-information-area">
              <p style="line-height:.5rem;">
                <nz-tag nzColor="orange">模具编号:</nz-tag>{{mouldModelDto.MouldId}}
              </p>
              <p>
                <nz-tag nzColor="orange">模具名称:</nz-tag>{{mouldModelDto.MouldName}}
              </p>
              <p>
                <nz-tag nzColor="orange">计划完成日期:</nz-tag>{{mouldModelDto.PlanOverMachiningDate|date:'yyyy-MM-dd'}}
              </p>
              <p>
                <nz-tag nzColor="orange">状态:</nz-tag>{{mouldModelDto.State}}
              </p>
            </div>
            <!-- 根据模具编号(mouldId)拉取的workpiece列表 -->
            <div class="division-border-list" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
              [scrollWindow]="false">
              <nz-list [nzDataSource]="workpieceFromFbDataSet" [nzRenderItem]="itemList" [nzItemLayout]="'horizontal'">
                <ng-template #itemList let-item>
                  <nz-list-item [nzActions]=[editAction]>
                    <ng-template #editAction><a (click)="OnImportProgramList(item)">添加程序单</a></ng-template>
                    <!-- <ng-template #moreAction><a (click)="checkQrcode(item.WorkpieceId)">more</a></ng-template> -->
                    <nz-list-item-meta [nzTitle]="nzFbTitle" [nzDescription]="descriptionFbTemplate">
                      <ng-template #nzFbTitle>
                        <span>
                          <nz-tag [nzColor]="'#2db7f5'" (click)="checkQrcode(item.WorkpieceId)">工件编号</nz-tag>{{item.WorkpieceId}}
                        </span>
                      </ng-template>
                      <ng-template #descriptionFbTemplate>
                        <span>工件名称:{{item.WorkpieceName}}</span><span style="margin-left: 1rem;">工序代码:{{item.MachiningProcessId}}</span>
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </div>
            <!-- 二维码展示区域 -->
            <div class="divsion-border-qrcode" style="text-align:center">
              <div *ngIf="qrcodeContent">
                <qr-code style="text-align:center" [value]="qrcodeContent" size="100" background="#f2f1f1"></qr-code>
                <p>{{qrcodeContent}}</p>
              </div>
            </div>
          </div>
          <!-- 程序列表展示区域 -->
          <div class="division-border-table">

            <nz-table class="table-striped" #nzWorkpieceTable [nzData]="programInfoDataSet" [nzBordered]="true"
              [nzPageSize]="10" [nzShowPagination]="false" nzSize="small" [nzLoading]="isProgramInfoDataSetLoading"
              [nzScroll]="{x:'1400px',y:'40vh'}" [nzFrontPagination]="false">
              <thead>
                <tr>
                  <th nzWidth="60px" nzLeft="0px">查看</th>
                  <th nzWidth="140px">程序单编号</th>
                  <th nzWidth="200px">程序单名称</th>
                  <th nzWidth="100px">状态</th>
                  <th nzWidth="100px">加工工艺</th>
                  <th nzWidth="100px">工序代码</th>
                  <th nzWidth="80px">计划完成日期</th>
                  <th nzWidth="80px">实际完成时间</th>
                  <!-- <th nzWidth="100px">上传文件名称</th>
                  <th nzWidth="100px">上传时间</th> -->
                  <!-- <th nzWidth="120px" nzRight="280px">分配任务</th>
                  <th nzWidth="140px" nzRight="140px">编辑</th> -->
                  <th nzWidth="140px" nzRight="0px">操作标识</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of nzWorkpieceTable.data">
                  <td nzLeft="0px">
                    <!-- <button nzType="primary" (click)="OnProgramOperation(item)" nzSize="small" nz-button><i nz-icon
                        type="search"></i>SOP</button> -->
                    <a (click)="OnProgramOperation(item)">
                      <span class="text-icon-primary" title="查看PDF"><i nz-icon type="search"></i>查看
                      </span>
                    </a>

                  </td>
                  <td>{{item.WorkpieceId}}</td>
                  <td>{{item.WorkpieceName}}</td>
                  <td>{{item.State}}</td>
                  <!-- FIXME:加工工艺代码待添加 -->
                  <td>{{item.MachiningProcess}}</td>
                  <td>{{item.MachiningProcessId}}</td>
                  <td>{{item.PlanOverMachiningDate|date:'yyyy-MM-dd'}}</td>
                  <!-- <td>
                    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd" nzPlaceHolder="Select Time" [(ngModel)]="item.PlanOverMachiningDate"
                      (nzOnOk)="OnEditPlanDate(item)"></nz-date-picker>
                  </td> -->
                  <td>{{item.OverMachiningDate|date:'yyyy-MM-dd'}}</td>
                  <!-- <td>{{item.SopFileName}}</td>
                  <td>{{item.UpDateTime|date:'yyyy-MM-dd'}}</td> -->
                  <!-- <td nzRight="280px">
                    <button nzType="dashed" (click)="distributeTask(item)" nz-button>分配任务</button>
                  </td>
                  <td nzRight="140px">
                    <button (click)="EditWorkpieceDto(item)" nz-button>程序单计划</button>
                  </td> -->
                  <td nzRight="0px">
                    <!-- <a (onclick)="openProgramList(item)">打开程序单列表</a> -->
                    <!-- <button (click)="openProgramList(item)" nz-button nzType="dashed"><i nz-icon type="folder-open"
                        theme="outline"></i>程序列表</button> -->
                    <a (click)="openProgramList(item)">
                      <span title="编辑程序列表">
                        <i nz-icon type="folder-open" theme="outline"></i>程序列表
                      </span>
                    </a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="removeWorkpieceDto(item._id)">
                      <span class="text-icon-danger" title="删除"><i nz-icon type="delete" theme="outline"></i>删除
                      </span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <!-- 计划员分配计划 -->
            <!-- <nz-modal [(nzVisible)]="isShowEditWorkpieceModal" [nzTitle]="'程序单计划'" [nzWidth]="520" [nzClosable]="false"
              [nzContent]="modalEditWorkFormContent" [nzOkText]="null" [nzCancelText]="null" [nzMaskClosable]="true"
              [nzWrapClassName]="''">
              <ng-template #modalEditWorkFormContent>
                <div *ngIf="editWorkpieceForm!==null">
                  <form nz-form [formGroup]="editWorkpieceForm" (ngSubmit)="submitEditWorkForm($event, editWorkpieceForm.value)"
                    nzLayout="horizontal">
                    <nz-form-item>
                      <nz-form-label nzSpan="6" nzFor="PlanOverMachiningDate" nzRequired>计划完成日期</nz-form-label>
                      <nz-form-control nzSpan="18">
                        <nz-date-picker formControlName="PlanOverMachiningDate"></nz-date-picker>
                        <nz-form-explain *ngIf="editWorkpieceForm.get('PlanOverMachiningDate').dirty&&editWorkpieceForm.get('PlanOverMachiningDate').errors">
                          计划完成时间不能为空
                        </nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label nzSpan="6" nzFor="MachiningProcessId" nzRequired>工序代码</nz-form-label>
                      <nz-form-control nzSpan="18">
                        <input style="width:200px" nz-input formControlName="MachiningProcessId" placeholder="请输入工序代码">
                        <nz-form-explain *ngIf="editWorkpieceForm.get('MachiningProcessId').dirty&&editWorkpieceForm.get('MachiningProcessId').errors">
                          工序代码不能为空
                        </nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control nzOffset="6">
                        <button nzType="primary" type="submit" nz-button [disabled]="!editWorkpieceForm.valid">确定</button>
                        <button style="margin-left:4rem;" (click)="resetEditWorkForm($event)" nzType="danger" nz-button>关闭</button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
              </ng-template>
            </nz-modal> -->

          </div>
        </div>

        <!-- 添加程序单对话框 -->
        <nz-modal [(nzVisible)]="isShowOperateProgramlistModal" [nzTitle]="'添加程序单'" [nzClosable]="false" [nzWidth]="900"
          [nzContent]="modalProgramContent" [nzOkText]="null" [nzCancelText]="null" [nzMaskClosable]="true"
          [nzWrapClassName]="''">
          <ng-template #modalProgramContent>
            <div>
              <!-- 表格区域 -->
              <div *ngIf="isShowOperateProgramlistModal">
                <form nz-form [formGroup]="addProgramListForm" nzLayout="horizontal">
                  <nz-form-item>
                    <nz-form-label nzSpan="6" nzFor="WorkpieceId" nzRequired>程序单编号</nz-form-label>
                    <nz-form-control nzSpan="18" nzHasFeedback>
                      <input nz-input autofocus formControlName="WorkpieceId" id="WorkpieceId" name="WorkpieceId"
                        placeholder="请输入程序单编号">
                      <nz-form-explain *ngIf="addProgramListForm.get('WorkpieceId').dirty&&addProgramListForm.get('WorkpieceId').errors||addProgramListForm.get('WorkpieceId').pending">
                        <ng-container *ngIf="addProgramListForm.get('WorkpieceId').hasError('required')">
                          请输入程序单编号
                        </ng-container>
                        <ng-container *ngIf="addProgramListForm.get('WorkpieceId').hasError('format')">
                          程序单编号必须包含工件编号
                        </ng-container>
                        <ng-container *ngIf="addProgramListForm.get('WorkpieceId').hasError('repetition')">
                          程序单编号重复
                        </ng-container>
                        <ng-container *ngIf="addProgramListForm.get('WorkpieceId').pending">
                          验证中...
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>

                    <nz-form-item>
                      <nz-form-label nzSpan="6" nzFor="WorkpieceName" nzRequired>程序单名称</nz-form-label>
                      <nz-form-control nzSpan="18">
                        <input nz-input autofocus formControlName="WorkpieceName" id="WorkpieceName" name="WorkpieceName"
                          placeholder="请输入程序单名称">
                        <nz-form-explain *ngIf="addProgramListForm.get('WorkpieceName').dirty&&addProgramListForm.get('WorkpieceName').errors">
                          程序单名称不能为空
                        </nz-form-explain>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-label nzSpan="6" nzFor="MachiningProcess">加工工艺</nz-form-label>
                    <nz-form-control nzSpan="18">
                      <input nz-input autofocus formControlName="MachiningProcess" id="MachiningProcess" name="MachiningProcess"
                        placeholder="请输入加工工艺">
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzSpan="24">
                      <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzName]="loadFileName"
                        [nzData]="uploadData" (nzChange)="loadStateChange($event)">
                        <button nz-button>
                          <i nz-icon type="upload"></i><span>添加SOP</span>
                        </button>
                      </nz-upload>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <!-- 手动上传按钮 -->
                      <button nzSpan="8" style="margin-top: 16px" nz-button [nzType]="'primary'" (click)="handleUpload($event)"
                        [nzLoading]="uploading" [disabled]="fileList.length === 0">
                        <i nz-icon type="check" theme="outline"></i>
                        {{uploading ? '提交中' : '提交'}}
                      </button>
                      <button nzSpan="8" nzType="danger" (click)="resetUploadForm()" nz-button><i nz-icon type="reload"
                          theme="outline"></i>清除</button>
                      <button nzSpan="8" (click)="OnCloseModal()" nz-button><i nz-icon type="close-circle" theme="outline"></i>关闭</button>
                    </nz-form-control>
                  </nz-form-item>
                </form>
              </div>
              <!-- 上传文件后的返回信息 -->

              <div *ngIf="isShowProgramList">
                <nz-table class="table-striped" #nzTable [nzData]="cncProgramUploadDataSet" [nzBordered]="true"
                  [nzLoading]="cncProgramUploadDataLoading" [nzShowPagination]="false" [nzFrontPagination]="false"
                  [nzScroll]="{x:'1300px',y:'250px'}" nzSize="small">
                  <thead>
                    <tr>
                      <th nzWidth="260px" nzLeft="0px">工件编号</th>
                      <th nzWidth="100px">程序名称</th>
                      <th nzWidth="100px">状态</th>
                      <th nzWidth="100px">类型</th>
                      <th nzWidth="100px">刀具</th>
                      <th nzWidth="100px">刀具编号</th>
                      <th nzWidth="100px">刀具长度</th>
                      <th nzWidth="100px">刀刃长度</th>
                      <th nzWidth="100px">进给</th>
                      <th nzWidth="100px">深度</th>
                      <th nzWidth="120px">余量</th>
                      <th nzWidth="100px">转速</th>
                      <th nzWidth="100px">加工时间</th>
                      <th nzWidth="100px">说明</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of nzTable.data">
                      <td nzLeft="0px">{{item.WorkpieceId}}</td>
                      <td>{{item.ProgramNam}}</td>
                      <td>{{item.State}}</td>
                      <td>{{item.type}}</td>
                      <td>{{item.Knife}}</td>
                      <td>{{item.KnifeNum}}</td>
                      <td>{{item.KinfeLength}}</td>
                      <td>{{item.KinfeBladeLength}}</td>
                      <td>{{item.Feed}}</td>
                      <td>{{item.Depth}}</td>
                      <td>{{item.Surplus}}</td>
                      <td>{{item.Speed}}</td>
                      <td>{{item.MachiningTime}}</td>
                      <td>{{item.Remarks}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>

          </ng-template>
        </nz-modal>

        <!-- 分配任务对话框 -->
        <!-- <nz-modal [(nzVisible)]="isShowDistributeTaskModal" [nzTitle]="'分配任务'" [nzClosable]="false" [nzWidth]="520"
          [nzContent]="modalDistributeTaskContent" [nzOkText]="null" [nzCancelText]="null" [nzMaskClosable]="true"
          [nzWrapClassName]="''">
          <ng-template #modalDistributeTaskContent>
            <form *ngIf="distributeTaskFormData!==null" nz-form [formGroup]="distributeTaskForm" (ngSubmit)="submitDistributeTaskForm($event)"
              nzLayout="horizontal">
              <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="MachineId" nzRequired>机器编号:</nz-form-label>
                <nz-form-control nzSpan="18">
                  <nz-select style="width:200px" nzShowSearch formControlName="MachineId" nzPlaceHolder="请输入机器编号"
                    nzAllowClear>
                    <nz-option *ngFor="let item of machineDataSet" [nzLabel]="item.MachineId" [nzValue]="item.MachineId">
                    </nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="distributeTaskForm.get('MachineId').dirty&&distributeTaskForm.get('MachineId').errors">
                    机器编号不能为空
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzSpan="6" nzFor="OpUser" nzRequired>员工工号:</nz-form-label>
                <nz-form-control nzSpan="18">
                  <nz-select style="width:200px" nzShowSearch formControlName="OpUser" nzPlaceHolder="请输入员工工号"
                    nzAllowClear>
                    <nz-option *ngFor="let item of userDataSet" nzLabel=({{item.UserId}}){{item.UserName}} [nzValue]="item.UserId">
                    </nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="distributeTaskForm.get('OpUser').dirty&&distributeTaskForm.get('OpUser').errors">
                    员工工号不能为空
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzOffset="6">
                  <button nzType="primary" type="submit" nz-button [disabled]="!distributeTaskForm.valid">确认</button>
                  <button style="margin-left:4rem;" (click)="resetDistributeTaskForm($event)" nzType="danger" nz-button>关闭</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </ng-template>
        </nz-modal> -->

      </nz-card>
    </nz-tab>
    <nz-tab *ngIf="workpieceTransmitDto!==null" [nzTitle]="titleTemplate">
      <ng-template #titleTemplate>
        <div>
          程序单列表
          <i nz-icon type="close-circle" [theme]="'twotone'" [twoToneColor]="'red'" (click)="closeTab()"></i>
        </div>
      </ng-template>
      <!-- cnc程序单操作模板 -->
      <app-cnc-program-management [mouldModelDto]="mouldModelDto" [operatingWorkpieceDto]="workpieceTransmitDto"></app-cnc-program-management>
    </nz-tab>
  </nz-tabset>
</div>

<!-- pdf展示界面 -->
<nz-drawer [nzVisible]="isShowPdfModal" nzPlacement="right" (nzOnClose)="handlePdfOk()" nzWidth="1000px">
  <div *ngIf="isShowPdfModal" class="pdf-show-area">
    <pdf-viewer [src]="pdfSrc" [render-text]="false" [fit-to-page]="false"></pdf-viewer>
  </div>
</nz-drawer>
