<!--设备故障看板 -->

<div class="whole-area">
  <div nz-row class="graph-area">
    <div class="row-one" nz-col nzSpan="8" echarts [options]="pieDataSource"></div>
    <div class="row-one" nz-col nzSpan="16" echarts [options]="lineDatasource">
    </div>
  </div>
  <div nz-row class="alert-form" nzType="flex" nzAlign="middle">
    <!-- <nz-alert nzType="info" [nzMessage]="alertQueryTemplate">
      <ng-template #alertQueryTemplate> -->
    <div nz-col nzSpan="24">
      <form nz-form [formGroup]="machineFaultRateQueryForm" nzLayout="inline" (ngSubmit)="submitQueryForm($event)">
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="StartDate" nzPlaceHolder="选择开始日期" nzShowTime></nz-date-picker>
            <nz-form-explain *ngIf="machineFaultRateQueryForm.get('StartDate').dirty&&machineFaultRateQueryForm.get('StartDate').errors">请选择开始日期
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-date-picker formControlName="EndDate" nzPlaceHolder="选择结束日期" nzShowTime></nz-date-picker>
            <nz-form-explain *ngIf="machineFaultRateQueryForm.get('EndDate').dirty&&machineFaultRateQueryForm.get('EndDate').errors">请选择结束日期
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button style="margin-right:8px;" nz-button nzType="primary" [disabled]="!machineFaultRateQueryForm.valid"><i
                nz-icon type="search" theme="outline"></i>查询</button>
            <button nz-button nzType="danger" (click)="resetQueryForm($event)"><i nz-icon type="reload" theme="outline"></i>清除</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <!-- </ng-template>
    </nz-alert> -->
  </div>
  <div nz-row>
    <nz-table #nzTable [nzData]="faultRateDataset" [nzPageSize]="10" [nzScroll]="{y:'28vh'}" [nzBordered]=true
      [nzLoading]="faultRateLoading" nzSize="small" [nzFrontPagination]=false [nzShowPagination]=false>
      <thead>
        <tr>
          <!-- <th>设备编号</th> -->
          <th nzWidth=100px>设备编号</th>
          <th nzWidth=100px>设备名称</th>
          <th nzWidth=100px>开始时间</th>
          <th nzWidth=100px>结束时间</th>
          <th nzWidth=100px>故障时间/分钟</th>
          <th nzWidth=100px>故障代码</th>
          <th nzWidth=100px>故障原因</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of nzTable.data">
          <!-- <td>{{item.MachineId}}</td> -->
          <td>{{item.MachineId}}</td>
          <td>{{item.MachineName}}</td>
          <td>{{item.StratTime}}</td>
          <td>{{item.EndTime}}</td>
          <td>{{item.FaultTime}}</td>
          <td>{{item.FailureCode}}</td>
          <td>{{item.CauseOfFailure}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
